.hero-buttons {
    margin-top: 25px;
}

.btn-outline {
    background: transparent;
    border: 2px solid #ffffff;
    color: #ffffff;
}

.btn-outline:hover {
    background: #ffffff;
    color: #0b5ed7;
}
/* ===== TEAM SECTION ===== */
.team-container {
    display: flex;
    gap: 30px;
    margin-top: 40px;
    justify-content: center;
    flex-wrap: wrap;
}

.team-card {
    background: #ffffff;
    padding: 20px;
    width: 220px;
    border-radius: 10px;
    box-shadow: 0 6px 18px rgba(0,0,0,0.1);
    text-align: center;
}

.team-card img {
    width: 140px;
    height: 140px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 15px;
    border: 4px solid #0b5ed7;
}

.team-card h3 {
    font-size: 18px;
    margin-bottom: 5px;
    color: #333;
}

.team-card span {
    font-size: 14px;
    color: #666;
}

